
::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.positionCenter
  left 0
  right 0
  max-width 750px
  margin 0 auto

.isAboveIphonex
  padding-bottom 34px
  box-sizing content-box

.fullPage
  height 100vh
  width 100%

.van-pull-refresh__track
  width 100%

.van-image-preview__overlay
  z-index 100001 !important

.image-preview
  z-index 100002 !important

.search_detailPop
  background-color transparent !important

.van-nav-bar__left>i
  font-size 24px
  color #b3b3b3 !important

.van-nav-bar__title
  max-width 70% !important

.reload_task
  position absolute
  left 0
  background-color #fff
  right 0
  bottom 0
  top 0
  z-index 109000

.earnings_item_content
  .van-cell--clickable
    padding 8px 15px !important

  &_title
    font-size 12px
    color #999

.goods
  width 100%
  margin-bottom 10px
  border-radius 5px

  &_top
    padding 12px 12px 5px 12px

  &_view
    padding 5px 0
    Flex(space-between)

    .label
      font-size 12px
      color #999

    .value
      font-size 13px

    .money
      display flex
      align-items flex-end

    .small
      font-size 12px
      transform scale(.8)

  &_title
    Flex(flex-start)
    margin-bottom 8px

    span
      font-size 14px
      margin-left 5px

  &_bottom
    Flex(space-between)
    padding 12px
    border-top 1px solid
    font-size 12px
    .label
      color #999

    .text
      font-size 13px
      color #666

      .num
        margin 0 3px

.pannelView
  border-radius 5px

.van-button--res
  border-radius 5px !important

.van-button--plain
  border-radius 5px !important
  border 1px solid !important

.van-button--plainGreen
  border-radius 5px !important
  border 1px solid !important


.van-field--label-top
  flex-direction column
  background-color transparent !important
  padding-bottom 20px !important

  &::after
    display none

  .van-field__label--top
    width 100%
    position relative

  .van-field__label
    color #999

  .van-field__body
    padding 5px 0
    border-bottom 1px solid

  .van-field__error-message
    position absolute
    z-index 999