*,
::before,
::after
  background-repeat no-repeat
  box-sizing inherit
  line-height inherit

::before,
::after
  text-decoration inherit
  vertical-align inherit

*
  margin 0
  padding 0
  border 0
  box-sizing border-box

html
  box-sizing border-box
  cursor default
  -webkit-tap-highlight-color transparent
  -webkit-font-smoothing antialiased
  font-family 'PingFang SC', 'Hiragino Sans GB', 'microsoft yahei', arial !important

body,
#app
  font-size 14px
  margin 0 auto !important
  max-width 750px
  // height 100vh
  color #333

h1,
h2,
h3,
h4,
h5,
h6
  font-size 14px
  font-weight normal

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section
  display block

pre
  font-family monospace
  font-size 1em

a
  background-color transparent
  text-decoration none
  cursor pointer
  color #333333
  -webkit-text-decoration-skip objects
  transition all 0.3s

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex]
	-ms-touch-action manipulation
	touch-action manipulation

html, body, form, p, div
  -webkit-text-size-adjust none

button,
input,
textarea
  background-color transparent
  outline 0

button
  cursor pointer

img,
embed,
iframe,
object,
audio,
video
  height auto
  max-width 100%
  display block

img 
  content normal !important
  border-style none

audio,
canvas,
iframe,
img,
svg,
video
	vertical-align middle

table
  border-collapse collapse
  border-spacing 0

ul
  list-style-type none

td,
th
  text-align left

summary
	display list-item

canvas
	display inline-block

template,
[hidden]
  display none
